In [51]:
# get data from db
from sqlalchemy import create_engine
import pandas as pd

conn_str = 'postgresql://bball:183S!02MkV5hk$KF@127.0.0.1:5432/bball_db'
eng = create_engine(conn_str)

query = "select season, player, teams.curr as tm, ws \
         from rosters \
         inner join teams \
         on rosters.team = teams.abbr \
         where league = 'NBA';"
rosters = pd.read_sql(query, eng)
query = "select year, player, teams.curr as tm\
         from drafts \
         inner join teams \
         on drafts.team = teams.abbr;"
drafts = pd.read_sql(query, eng)
query = "select date, player, teams.curr as to_team \
         from trades \
         inner join teams \
         on trades.to_team = teams.abbr;"
trades = pd.read_sql(query, eng)

In [52]:
# creates a year column for the trades_df
def tr_year(row):
    return int(row['date'][-4:])

trades['year'] = trades.apply(tr_year, axis=1)

# creates a year column for rosters_df
def r_year(row):
    s = row['season'][:2] + row['season'][-2:]
    return int(s)
def RepresentsFl(s):
    try: 
        float(s)
        return True
    except ValueError:
        return False
def r_ws(row):
    if RepresentsFl(row['ws']):
        return float(row['ws'])
    else:
        return 0

rosters['year'] = rosters.apply(r_year, axis=1)
rosters['ws'] = rosters.apply(r_ws, axis=1)

# creates a year column for drafts_df
def d_year(row):
    return int(row['year'])

drafts['year'] = drafts.apply(d_year, axis=1)

In [54]:
# takes in row of rosters_df
def src(row):
    player = row['player']
    year = row['year']
    team = row['tm']
    if len(trades[(trades.player == player) & (trades.to_team == team) & (trades.year <= year)].index) > 0:
        return 'trade'
    if len(drafts[(drafts.player == player) & (drafts.tm == team)].index) > 0:
        return 'draft'
    else:
        return 'other'

rosters['src'] = rosters.apply(src, axis=1)

In [55]:
beg_year = 1990
end_year = 1999

res = rosters[(rosters.year >= beg_year) & (rosters.year <= end_year)].groupby(by=['tm', 'src'])['ws'].sum()
res.to_csv('alloc.csv')

In [49]:
trades

,date,from_team,player,to_team,trade_id,ws_from,ws_to,year
0,"June 27, 2013",ATL,ennisja01,MIA,1,0,1.9,2013
1,"November 7, 1994",MIA,longgr01,ATL,2,31.6,19.9,1994
2,"November 7, 1994",MIA,smithst01,ATL,2,13.3,39.1,1994
3,"November 7, 1994",ATL,willike02,MIA,2,54.2,5.7,1994
4,"November 7, 1994",ATL,mccarwa01,MIA,2,0,0,1994
5,"February 20, 2014",LAC,jamisan01,ATL,3,0.1,0,2014
6,"February 20, 2014",ATL,akyolce01,LAC,3,0,0,2014
7,"July 30, 2012",ATL,greenwi01,LAC,4,2.4,3.0,2012
8,"July 30, 2012",LAC,schorso01,ATL,4,0,0,2012
9,"August 8, 1999",LAC,wrighlo02,ATL,5,8.5,6.2,1999
10,"August 8, 1999",ATL,richaqu01,LAC,5,0,12.1,1999
11,"August 8, 1999",ATL,wilcoch01,LAC,5,0,6.2,1999
12,"February 24, 1994",LAC,mannida01,ATL,6,31.0,1.3,1994
13,"February 24, 1994",ATL,wilkido01,LAC,6,107.4,2.6,1994
14,"February 24, 1994",ATL,minorgr01,LAC,6,0,0,1994
15,"June 26, 1991",ATL,riverdo01,LAC,7,52.0,3.9,1991
16,"June 26, 1991",LAC,augmost01,ATL,7,0,27.8,1991
17,"June 26, 1991",LAC,manniri01,ATL,7,0,0,1991
18,"June 26, 1991",LAC,nickega01,ATL,7,0,0,1991
19,"October 6, 1983",ATL,matthwe01,LAC,8,3.9,0,1983
20,"October 6, 1983",LAC,hendece01,ATL,8,0,0.0,1983
21,"January 20, 1982",ATL,crissch01,LAC,9,10.2,1.1,1982
22,"January 20, 1982",ATL,woodal01,LAC,9,0.0,3.2,1982
23,"January 20, 1982",LAC,willifr01,ATL,9,10.3,-0.1,1982
24,"September 13, 1977",ATL,willobi01,LAC,10,2.1,1.2,1977
25,"September 13, 1977",LAC,herroke01,ATL,10,0,0.0,1977
26,"June 16, 1976",LAC,charlke01,ATL,11,6.9,2.8,1976
27,"June 16, 1976",LAC,gibbsdi01,ATL,11,0.7,0,1976
28,"June 16, 1976",ATL,vanarto01,LAC,11,5.7,0,1976
29,"January 8, 1975",ATL,washiji01,LAC,12,13.5,1.0,1975
...,...,...,...,...,...,...,...,...
5108,"August 5, 2003",SAC,florelu01,UTA,1938,0,0,2003
5109,"August 5, 2003",SAC,baracst01,UTA,1938,0,0,2003
5110,"May 28, 1975",SAC,behagro01,UTA,1940,4.2,6.1,1975
5111,"May 28, 1975",SAC,jonesma01,UTA,1940,0,0,1975
5112,"May 28, 1975",UTA,robinbi01,SAC,1940,0,21.2,1975
5113,"February 1, 1975",UTA,adelmri01,SAC,1941,0.6,0.2,1975
5114,"February 1, 1975",UTA,johnsol01,SAC,1941,1.6,8.8,1975
5115,"February 1, 1975",SAC,willina01,UTA,1941,9.0,10.4,1975
5116,"September 26, 1980",WAS,corzida01,SAS,1942,2.0,10.3,1980
5117,"September 26, 1980",SAS,gregocl01,WAS,1942,0,0.0,1980
5118,"September 26, 1980",SAS,anderdw01,WAS,1942,0,0,1980
5119,"February 20, 2014",SAS,decolna01,TOR,1943,2.0,0.4,2014
5120,"February 20, 2014",TOR,dayeau01,SAS,1943,0.0,0.1,2014
5121,"June 28, 2007",SAS,printgi01,TOR,1944,0,0,2007
5122,"June 28, 2007",TOR,dragigo01,SAS,1944,0,0,2007
5123,"June 21, 2006",TOR,bonnema01,SAS,1945,8.3,30.2,2006
5124,"June 21, 2006",TOR,willier01,SAS,1945,0.5,0.2,2006
5125,"June 21, 2006",SAS,nestera01,TOR,1945,15.2,8.8,2006
5126,"July 8, 2016",SAS,diawbo01,UTA,1946,17.9,0.5,2016
5127,"July 8, 2016",UTA,hanlaol01,SAS,1946,0,0,2016
5128,"February 15, 1986",SAS,cookje01,UTA,1947,2.4,0.0,1986
5129,"February 15, 1986",SAS,iavarma01,UTA,1947,1.3,3.9,1986
5130,"February 15, 1986",UTA,wilkije01,SAS,1947,8.6,0.2,1986
5131,"December 18, 1984",SAS,roberfr01,UTA,1948,3.2,2.5,1984
5132,"July 10, 2014",TOR,novakst01,UTA,1949,1.4,0.4,2014
5133,"July 10, 2014",UTA,garredi02,TOR,1949,-0.8,0,2014
5134,"June 8, 2006",UTA,humphkr01,TOR,1950,-0.1,4.0,2006
5135,"June 8, 2006",UTA,whalero01,TOR,1950,0.0,0,2006
5136,"June 8, 2006",TOR,araujra01,UTA,1950,-0.6,0.1,2006
5137,"July 7, 2016",UTA,burketr01,WAS,1951,5.4,0.5,2016